.background-newuser {

  background: url("http://img.wallskd.com/uploads/allimg/20140226/Beach%2C-Sand%2C-Footprint.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  padding-top: 100px;
}

.form-newuser {
 padding-top: 50px;
 background-color: rgba(0,0,0,0.6);
 color: white;
 height: 150%;
 padding-bottom: 50px;

}

