
<div class="background-socialmedia">
  <div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-4 hovercolor">
        <a href="https://www.facebook.com/"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-256.png"border="0" alt="clic to visit our Instagram"></a>
        </div>


        <div class="col-sm-12 col-md-4 hovercolor">
        <a href="https://twitter.com/"><img src=" https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-256.png"border="0" alt="clic to visit our Instagram"></a>
        </div>



        <div class="col-sm-12 col-md-4 hovercolor">
          <a href="https://instagram.com/"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-256.png" border="0" alt="clic to visit our Instagram" ></a>
        </div>


    </div>
  </div>
</div>
