// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-bar {
  color: white;
  padding-top: 180px;
}

.bg-search-bar {
  background-image: image-url('cabana_beach_1');
  background-size: cover;
  height: 1000px;
}

@media (max-width: 991px) {
  .search-bar {
    padding-top: 100px;
    .col-xs-4 {
      padding-top: 10px;
    }
    .col-xs-12 {
      padding-top: 10px;
    }
  }
}

@media (max-width: 34em) {
  .search-bar {
    padding-top: 30px;
    img {
      width: 200px;
    }
  }
}
