<!DOCTYPE html>
<html>

  <head>
      <title>Cabanas</title>
      <link rel="stylesheet" href="style.css">
  </head>

<body>

  <%= render 'shared/navbar' %>
    <%= yield %>
  <%= render 'shared/footer' %>

</body>

</html>
